{% extends 'layouts/base.html' %}

{% block content %}
    <h2>Book List</h2>
    <ul>
        {% for book in books %}
        <li>
            <strong>ID:</strong> {{ book.id }}<br>
            <strong>Title:</strong> {{ book.title }}<br>
            <strong>Author:</strong> {{ book.author }}<br>
            <strong>Publication Year:</strong> {{ book.publication_year }}
            <br>
            <a href="{% url 'edit_book' book.id %}">Edit</a> |
            <a href="{% url 'delete_book' book.id %}">Delete</a>
        </li>
        {%endfor%}
    </ul>
    <a href="{% url 'add_book'%}">Add Book</a>
{%endblock%}